.font-style(@font, @size, @weight: normal, @line-height: 1.5) {
  font-family: @font;
  font-size: @size;
  font-weight: @weight;
  line-height: @line-height;
}

.heading(@size) {
  .font-style(@font-headers, @size, bold);
}

.social-color(@color) {

  &:hover,
  span,
  span:before {
    background: @color;
  }
}

